body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #424549;
}

h1 {
    text-align: center;
    color: white;
    margin-top: 20px;
}

label {
    color: white;
}

/* Grid container for videos */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    justify-content: center; /* Center the grid */
    padding: 20px;
}

.grid-item {
    padding: 10px;
    position: relative;
    width: fit-content;
    height: fit-content;
}

.grid-item p {
    font-size: 20px;
    margin: 0;
    position: absolute;
    color: white;
    font-weight: bold;
}

.grid-item video {
    max-height: 550px;
    max-width: 100%;
    box-shadow: -2px -2px 15px #888888;
}

.grid-item .kick_btn {
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: bold;
    font-size: 20px;
}

/* Center-align the buttons container */
.center-wrapper {
    display: flex;
    justify-content: center; /* Centers the buttonscontainer horizontally */
    width: 100%; /* Adjusts to the full width of the parent container */
}

.buttonscontainer {
    display: flex;
    align-items: center;
    justify-content: center; /* Centers items within the buttonscontainer */
    gap: 10px;
    padding: 20px;
    border-radius: 8px;
    background-color: #333;
    color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}


/* Styling for input and buttons */
input[type="text"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 14px;
}

button {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#joinBtn {
    background-color: #4CAF50;
    color: white;
}

#joinBtn:hover {
    background-color: #45a049;
}

#leaveBtn {
    background-color: #f44336;
    color: white;
}

#leaveBtn:hover {
    background-color: #e53935;
}